DEVICE_NAME = "iot_station_1"
MAIN_PERIOD_S = 2

# DHT22
DHT22_PIN = 2

# MQ-2
MQ2_ADC_PIN = 1
MQ2_SAMPLES = 10

# SDS011
SDS_UART_ID = 1
SDS_RX_PIN = 5
SDS_BAUD = 9600

# SIM7600
SIM_UART_ID = 2
SIM_RX_PIN = 6
SIM_TX_PIN = 7
SIM_BAUD = 115200

# GPS
GPS_READ_EVERY_S = 5

# WiFi
WIFI_SSID = "your_wifi_ssid"
WIFI_PASSWORD = "your_wifi_password" 
WIFI_CONNECT_TIMEOUT_S = 10
WIFI_CHECK_INTERVAL_S = 30  
SIM_FAILURE_THRESHOLD = 3

# Тест на скороста на интернет
SPEED_TEST_INTERVAL_S = 20  
SPEED_TEST_URL = "http://www.google.com"  
SPEED_TEST_TIMEOUT_S = 10  


# OTA Updates
OTA_ENABLED = True
OTA_CHECK_INTERVAL_S = 300
OTA_GITHUB_REPO = "ivanstoikovbg/Smart_IoT"
OTA_GITHUB_BRANCH = "main"
OTA_BASE_URL = "https://raw.githubusercontent.com/{}/{}".format(OTA_GITHUB_REPO, OTA_GITHUB_BRANCH)
OTA_FILES_TO_UPDATE = [
    "main.py",
    "src/dht22.py",
    "src/mq2.py",
    "src/sds011.py",
    "src/sim7600.py",
    "src/wifi_manager.py",
    "src/speed_test.py",
    "src/ota_updater.py",
    "src/mqtt_client.py"
]

# Тестове
TEST_ENABLED = True
TEST_RUN_ON_STARTUP = True

# MQTT
MQTT_ENABLED = True
MQTT_BROKER_HOST = "mqtt.cityreport.eu"
MQTT_BROKER_PORT = 1883
MQTT_USE_SSL = False
MQTT_USER = "your_mqtt_username"
MQTT_PASSWORD = "your_mqtt_password"
MQTT_TOPIC_PREFIX = "iot/sensors"
MQTT_KEEPALIVE = 60
MQTT_PUBLISH_INTERVAL_S = 300 